<!DOCTYPE html>
<html>
<head>
    <title>檔案上傳</title>
</head>
<body>
    <input type="file" id="fileInput">
    <button id="uploadButton">上傳檔案</button>

    <script>
        const fileInput = document.getElementById('fileInput');
        const uploadButton = document.getElementById('uploadButton');
        const targetURL = 'http://localhost:8000/';

        uploadButton.addEventListener('click', () => {
            const file = fileInput.files[0];

            if (file) {
                const formData = new FormData();
                formData.append('file', file);

                fetch(targetURL, {
                    method: 'post',
                    body: formData
                })
                .then(response => response.text())
                .then(data => {
                    console.log(data);
                })
                .catch(error => {
                    console.error('上傳失敗:', error);
                });
            }
        });
    </script>
</body>
</html>
